<section>
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px" [formGroup]="loginForm"
        (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput type="email" placeholder="Email" email formControlName="email">
            <mat-error>Invalid or missing email.</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Password should be atleast 6 character long">
            <input matInput type="password" placeholder="Password" formControlName="password">
            <mat-error>Missing password.</mat-error>
        </mat-form-field>
        <button *ngIf="!(isLoading$ | async)" type="submit" mat-raised-button [disabled]="loginForm.invalid">Submit</button>
        <mat-spinner *ngIf="(isLoading$ | async)"></mat-spinner>
    </form>
</section>